{{#if error }}
  <h3 class="error">Please download a compatible Linux to run as a VM</h3>
  <br />

  <p class="error">wget http://olivierberthonneau.com/human-apps/ubuntu.qcow2 -O ubuntu-qemu/images/ubuntu.qcow2 && \</p>
  <p class="error">docker-compose up -d</p>
{{/if}}
<div id="display"></div>
